/*font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif;*/

.container{
  width:1300px;

  margin:auto;
}
/* header */
header{
  width: 1300px;
  height: 523px;
  background: url(assets/header.jpg);
  float: left;
}
.title{
  width: 1000px;
margin: 0 auto;
color: white;
text-align: center;
clear: both;
}
.title h2 {
display: block;
float: left;
font-weight: 600;
font-family: 'Open Sans', sans-serif;
font-size: 97px;
margin-left: 38px;
margin-top: 132px;
margin-bottom: -10px;
}

.title h5 {
display: block;
font-weight: bold;
clear: both;
font-family: 'Open Sans', sans-serif;
font-size: 13.5px;
color:HSLA(204, 86%, 16%, 1);
}

.blog-title {
/* position: absolute; */
float: left;
/* margin: 10px; */
width: 350px;
height: 50px;
margin-left: 141px;
margin-top: 11px;
/* margin-bottom: 80px; */
}
.blog-title img {
float: left;
margin-top: auto;
margin-bottom: auto;
margin-right: 11px;
}

#logo-text{
margin-top: 10px;
/* margin-left: 2px; */
font-family: 'Open Sans', sans-serif;
font-size: 16px;

}


.nav {
float: right;
width: 200px;
margin-right: 109px;
margin-top: 18px;
font-size: 18px;
font-family: 'Oswald', sans-serif;
}
.nav a{
  float:left
;
}

.search {
float: left;
margin-left: 14px;

}
#search-icon {
float: right;
margin-left: 6px;
}
/* ^header^ */



/* article */
article {
width: 1300px;
height: 1010px;
float: left;
clear: both
}

.main-section {
width: 860px;
height: 1010px;
float: left;


}
.article-heading {
width: 575px;
height: 164px;
margin-right: 122px;
margin-left: 0;
padding-bottom: 21;
margin-top: 20px;
display: inline-block;
font-family: 'Oswald', sans-serif;
font-size: 30px;
float: left;
line-height: 72px;
}
.main-section p{

}
.side-bar{
  float: right;
  height: 1010px;
  width: 440px;
  display: block;
}
.avatar {
width: 280px;
margin: 0;
height: 270px;
margin-right: 0;
display: block;
float: left;
}
.avatar img {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 83px;
}
.avatar h2 {
text-align: center;
margin-bottom: 0;
/* font-family: 'Oswald', sans-serif; */
font-family: 'Open Sans', sans-serif;
font-size: 15px;
font-weight: bold;
}
element.style {
}
.social-media {
list-style: none;
font-family: 'Open Sans', sans-serif;
margin-left: 39px;
margin-right: auto;
display: block;
width: 270px;
height: 17px;
padding: 0;
margin-top: 1px;
font-size: 13px;
/* text-align: center; */
}
.social-media li {
float: left;
margin: 7px;
margin-top: 0;
}
#ad {
clear: both;
height: 335px;
width: 280px;
margin: 0;
}
/* ^article^ */

/*pre-footet*/

.pre-footer {
  height: 390px;
margin-bottom: 0;
border-top-style: solid;
border-color: HSLA(203, 17%, 91%, 1);
border-width: 1px;
float: left;

}

.most-popular h3 {
text-align: center;
display: block;
font-family: 'Oswald', sans-serif;
font-size: 61px;
padding-top: 0px;
color: HSLA(204, 82%, 18%, 1);
margin-top: 22px;
margin-bottom: 31px;
}


.pre-footer-images-box {
  height: 330px;
  width: 1300px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: block;
  font-family: 'Oswald', sans-serif;
}
.pre-footer-images-box li {
  margin: 0;
  float: left;
  list-style: none;
  width:325px;
  height:330px;
  display:inline-block;

}
.pre-footer-images-box a {
background: transparent;
background-repeat: no-repeat;
}
.one{
  background-image: url(assets/article-image-1.jpg);
  width:325px;
  height:330px;

}
.two{
  background: url(assets/article-image-2.jpg);
  width:325px;
  height:330px;
  }
.three{
  background: url(assets/article-image-3.jpg);
  width:325px;
  height:330px;
}
.four{
  background: url(assets/article-image-4.jpg);
  width:325px;
  height:330px;
}
/* ^pre-footer^*/



/* footer */

footer {
width: 1300px;
margin-top: 84px;
background-color: HSLA(204, 82%, 18%, 1);
float: left;
display: block
}
.tiy {
width: 370px;
height: 55px;
float: left;
margin-top: 26px;
margin-left: 165px;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
color: HSLA(208, 18%, 74%, 1);
}

#tiy-copyright {
font-size: 12px;
float: right;
margin-top: 12px;
/* margin-left: 5px; */
}

.footer-nav {
float: right;
display: block;
padding: 0px;
margin-right: 131px;
margin-top: 30px;
font-size: 15px;
color: HSLA(207, 19%, 70%, 1);
}

.footer-nav li {
  list-style: none;
  border-right-style: solid;
  border-width: 1px;
  padding: 4px;
  margin: 4px;
  float:left;
}
